* {
	font-family: Courier Prime;
	font-size: 15px;
	background-color: transparent;
}

window#waybar {
	border: 1px solid rgba(111, 111, 111, 0.10);
	border-radius: 0px;

	background-color: rgba(111, 111, 111, 0.15);

	transition-property: background-color;
	transition-duration: .5s;
}

#custom-workspaces, #custom-volume, #custom-brightness, #custom-battery, #custom-layout, #custom-time {
	margin: 2px 10px;
	padding-top: 5px;

	color: rgb(111, 111, 111);

	font-weight: 700;
}

#custom-volume {
	padding-left: 10px;
	border-left: 2px solid rgba(53, 0, 255, 0.7);
}

#wireplumber, #backlight, #battery, #language, #clock {
	padding: 4px 10px 0px 0px;
	margin: 2px 0px;

	color: #e9f0fd;
	border-right: 2px solid rgba(53, 0, 255, 0.13);

	font-weight: 600;
}

button {
	box-shadow: inset 0 -6px transparent;
	box-shadow: rgba(158, 148, 137, 0.13) 2px 0;
	border: none;
	border-radius: 0px;
}

button:hover {
	background: inherit;
}

#workspaces button {
	padding: 0 6px;
	padding-top: 4px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 2px;
	margin-left: 0px;
	font-weight: 900;
	color: rgb(0, 0, 0);
}

#workspaces button:hover {
	background-color: rgba(255, 0, 0, 0.5);
}

#workspaces button.active {
	background-color: rgba(255, 0, 0, 0.16);
}

#workspaces button.empty {
	font-weight: 600;
	color: #e9f0fd;
}

#custom-workspaces {
	border-right: 2px solid rgba(158, 148, 137, 0.13);
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 5px;
	margin-left: 10px;
	margin-right: 0px;
	padding-right: 10px;
	color: #e9f0fd;
}

.modules-left > widget:first-child > #custom-spacing {
	border-right: 2px solid rgba(158, 148, 137, 0.13);
	margin-top: 2px;
	margin-bottom: 2px;
}
.modules-center {
	color: #e9f0fd;
}
#wireplumber {
	border-right: 2px solid rgba(158, 148, 137, 0.7);
}
